<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-body">
      <h2>Credit Card No</h2>
      <div class="form-group">
        <label for="creditCard">Card Number</label>
        <input appCreditCard class="form-control" id="creditCard">
      </div>

      <h2>Custom Directive</h2>
      <div class="form-group">
        <label for="upperCase">UpperCase</label>
        <input #touppercase appUpperCase class="form-control" id="upperCase">
      </div>

      <div class="form-group">
        <label for="lowerCase">LowerCase</label>
        <input #tolowercase appLowerCase class="form-control" id="lowerCase">
      </div>

      <!-- <p class="alert alert-success">{{toUpperCase}}</p> -->

      <p appHighlight>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt esse natus ea quaerat possimus,
        laboriosam
        similique sit maxime vel blanditiis eaque alias ipsum, quas harum non assumenda rem autem necessitatibus.</p>
      <p appHighlight1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt esse natus ea quaerat possimus,
        laboriosam
        similique sit maxime vel blanditiis eaque alias ipsum, quas harum non assumenda rem autem necessitatibus.</p>
    </div>
  </div>

<div class="row">
  <div class="col-12">
    <h2 class="bg-info rounded p-2">Card Using @Input and @Output Decorator</h2>
    <app-card-dashboard></app-card-dashboard>
    <hr>
  </div>
</div>
</div>

<div class="container-fluid my-5">
  <div class="row">
    <div class="col-12">
      <app-fair-dashboard></app-fair-dashboard>
    </div>
  </div>
</div>