.content{
    height: 250px;
    overflow: hidden;
    position: relative;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    figcaption{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 10px;
        color: white;
        background-color: rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
    }
}
